*{
    background-color: rgb(145, 95, 160);
    color: aliceblue;
}
#d{
    height: 150px;
    width: 200px;
    background-image:url("nature.jpg");
    color: beige;
    background-size:cover;
    position: fixed;
    right:0px;
    top: 100px;

}