body{
    background-color: black;

}
@media(width <=500px) {
  body {
    background-color: rgb(130, 232, 255);
  }
}
@media(width <=300px) {
  body {
    background-color: rgb(130, 151, 255);
  }
}
