* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #333;
}

nav {
  background-color: #2c3e50;
  padding: 1rem;

}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 2rem;
}



nav a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}
nav a:hover {
  color: #3498db;
}

.about-section {
  max-width: 1000px;
  margin: 3rem auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.about-image img:hover {
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.9);

}

.about-text {
  flex: 1;
}
.about-text h1 {
  color: #2c3e50;
  margin-bottom: 1rem;
}

.about-text p {
  font-size: 1.1rem;
  color: #555;
}

.Skills-section {
  background-color: #ecf0f1;
  padding: 3rem 2rem;
}

.Skills-section h2 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 2rem;
}

.skill-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.skill-container h3 {
  color: #3498db;
}

.skill {
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 150px;
  text-align: center;
  transition: all 0.3s ease;
}
.skill:hover{
  box-shadow: 0 0 10px black;
}

footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 2rem;
  margin-top: 3rem;
}

footer p {
  margin-bottom: 0.5rem;
}
