*{ background-color: beige;}
.mainbox{
    border-style:double;
    border-color: black;
    align-items:center;
    display: flex;
    margin: 3px;
    height: 200px;
    flex-direction:row-reverse;

}
h3{
    font-style: oblique;
    color: rgb(75, 37, 37);
    text-align: center;

}
#box1{
    height: 50px;
    width: 50px;
    border-color: black;
    border-width: 2px;
    border-style: double;
    background-color: aqua;
    
    
    text-align: center;


}
#box2{
    height: 50px;
    width: 50px;
    border-color: black;
    border-width: 2px;
    border-style: double;
    background-color: rgb(165, 173, 81);
    text-align: center;

}#box3{
    height: 50px;
    width: 50px;
    border-color: black;
    border-width: 2px;
    border-style: double;
    background-color: rgb(90, 215, 76);
    text-align: center;

}#box4{
    height: 50px;
     width: 50px;
    border-color: black;
    border-width: 2px;
    border-style: double;
    background-color: rgb(47, 64, 126);
    text-align: center;

}#box5{
    height: 50px;
    width: 50px;
    border-color: black;
    border-width: 2px;
    border-style: double;
    background-color: rgb(187, 85, 117);
    text-align: center;

}