*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    /* background-color: beige; */
}

.conteiner{
    
    border:2px solid red ;
    display: grid;
   gap: 1rem;
   column-gap: 12px;
   row-gap: 12px;
   grid-template-columns: 100px 150px 200px;
   grid-template-columns: repeat( 4, auto );
   grid-auto-rows:4cm;
   

}

.box{
    border:2px solid black;
    gap: 1rem;
    padding:12px ;
}
#box-6{
    background-color: aqua;
    /* justify-content: center; */
    /* align-self:center; */
    /* grid-column-start: 1; */
    /* grid-column-end:; */

    /* grid-row: 1/3;
    grid-column:1/3 ; */


grid-area:   ;

}
