* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: cursive;

}
.conatiner{
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    gap: 35px;
    background  :linear-gradient( to right,#1de8ff,#82b784);
    align-items: center;
    color: white;


}
.left{
    flex-basis: 30%;

}
.right{
    flex-basis: 50% ;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 120px;

}
.left h2{
    color: white;
    font-size: 3rem;
    text-align: center;
}
.left p{
    color: #ddd;
    text-align: center;
    margin: 10px;
    

}

.child-imgs{
    background-size:cover;
    background-position: bottom ;
    align-items: center;
    display: flex;
    background-color: #222;
    /* background-blend-mode:soft-light; */
    justify-content: center;
    transition: all 0.3s ease-in-out;
    border-radius: 6px;
    box-shadow:0 0 4px  black;

}
 .child-imgs:hover{
        box-shadow:0 0 13px  black;
        background-position: center;
    }
.row-2{
    grid-row:span 2;

}
.col-2{
    grid-column: span 2;
}