.box{
    height: 200px;
    width: 200px;
    background-color: hotpink;
    margin:100px auto;
    transition: 0.5s ;
    transition-property: border-radius, background-color, transform;
    /* transition-delay:1s; */
    transition-timing-function:cubic-bezier(0.6, -0.58, 0.735, 0.045);
}
.box:hover{
    background-color: aqua;
    border-radius: 50%; 
    transform :rotate(180deg);

}
nav{
    background-color: #222;
    color: azure;
}
.list{
    gap:20px;
    display: flex;
    list-style: none ;



}
.itam{
    font-size: 1.2rem;
    transition: .3s;
}
.itam:hover{
    color: chartreuse;
    background-color: rgb(47, 77, 173);
    cursor: pointer;
    transition: .3s ease-in;
    transform: translatey(2px);
}